.container-history{
    background-color: var(--cor-preto);
    width: 350px;
    height: 600px;
    border-radius: 15px;
    overflow: scroll;
}

.titulo-history{
    color: var(--cor-branco);
    text-align: center;
    margin: 20px auto;
}

.p-history{
    color: var(--cor-branco);
    overflow: scroll;
    padding: 10px 20px;
    font-size: 16px;
}
